
    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Nunito", sans-serif;
    }

    body {
      height: 100%;
    }
    section .container {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .text-animation {
      background: #030303;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
    }

    .text-wrapper {
      position: relative;
    }

    .text-wrapper h2 {
      z-index: 4;
      color: #fff;
      font-size: 13vw;
      white-space: nowrap;
      position: absolute;
      transform: translate(-50%, -62%);
      left: 50%;
      top: 50%;
    }

    .text-wrapper h2:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px #fff;
    }

    .text-wrapper h2:nth-child(2) {
      color: #fff;
      animation: wave 4s ease-in-out infinite;
    }

    @keyframes wave {
      0%,
      100% {
        clip-path: polygon(
          0% 46%,
          17% 45%,
          34% 50%,
          56% 61%,
          69% 62%,
          86% 60%,
          100% 51%,
          100% 100%,
          0% 100%
        );
      }
      50% {
        clip-path: polygon(
          0% 59%,
          16% 64%,
          33% 65%,
          52% 61%,
          70% 52%,
          85% 47%,
          100% 48%,
          100% 100%,
          0% 100%
        );
      }
    }

    @media (max-width: 1024px) {
      .text-wrapper h2 {
        font-size: 13vw;
      }
    }
    /* Responsive adjustments */
    @media (max-width: 768px) {
      .text-wrapper h2 {
        font-size: 13vw;
      }
    }

    @media (max-width: 480px) {
      .text-wrapper h2 {
        font-size: 13vw;
      }
    }